@model List<ClassLibrary.Classes.TodoItem>

@{
    ViewData["Title"] = "Completed";
}

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Copleted to-dos</h1>
    <br /><br />
    @foreach (var todoItem in Model)
    {
        <p1 style="font-size: 21px"><b>@todoItem.Text</b></p1>
        <br />
        <p1 style="font-size: 16px">
            Created: @todoItem.DateCreated
            <br/>Completed: @todoItem.DateCompleted
        </p1>
        <p1 style="font-size: 18px">
            <br />
            <a asp-controller="Todo" asp-action="Delete" asp-route-id="@todoItem.Id">
                Delete
            </a>
        </p1>
        <br/>
        if (!Model.IndexOf(todoItem).Equals(Model.Count - 1))
        {
            <hr />
        }
    }
    <br/><br/>
    <a asp-controller="Todo" asp-action="Index">
        <p1 style="font-size: 17px">Go back...</p1>
    </a>
</div>
</body>
</html>