@model List<ClassLibrary.Classes.TodoItem>
@{ ViewData["Title"] = "Active"; }

<!DOCTYPE html>
<html>
<body>
    <br />
    <a asp-action="Add">
        <p1 style="font-size: 18px">
            Add a new to-do item
            <img src="images/add_new.png" style="width: 35px; height: 35px;" />
        </p1>
    </a> 
    &emsp;
    <a asp-action="Completed">
        <p1 style="font-size: 18px">Completed to-dos
            <img src="images/completed.jpg" style="width: 35px; height:35px;" />
        </p1>
    </a> 
    <br/><br/><br/>
    @foreach (var todoItem in Model)
    {
        <p1 style="font-size: 21px"><b>@todoItem.Text</b></p1>
        <br/>
        <p1 style="font-size: 16px">@todoItem.DateCreated</p1>
        <br/>
        <p1 style="font-size: 18px">
            <a asp-controller="Todo" asp-action="MarkAsCompleted" asp-route-id="@todoItem.Id">
                Mark as completed
                <img src="images/244376-200.png" style="width:27px;height:27px;" />
            </a>
        </p1>
        if (!Model.IndexOf(todoItem).Equals(Model.Count - 1))
        {
            <hr/>
        }
    }
</body>
</html>